.transaction {
    /* Reset button style */
    display: block;
    border: none;
    width: 100%;
    color: inherit;
    text-align: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;

    background: var(--background-color-secondary);
    padding: 20px;
    border-bottom: 1px solid var(--background-color-light);
}

.transaction .content {
    overflow: hidden;
    display: flex;
}

.transaction .comment {
    margin-left: 70px;
    margin-right: 76px;
    margin-top: 12px;

    background: var(--background-color-light);
    padding: 14px 18px;
    border-radius: 8px 18px 18px 18px;
    overflow: hidden;
    word-wrap: anywhere;
    hyphens: auto;

    white-space: break-spaces;
}

.icon {
    flex: none;
}

.headers {
    margin-left: 20px;
    padding-top: 5px;
    flex: 1;
    overflow: hidden;
}

.headers .direction {
    font-weight: bold;
}

.headers .secondary {
    color: var(--text-color-secondary);
    margin-top: 6px;
}

.amount {
    justify-content: end;
    text-align: right;
}

.amount .sum {
    font-weight: bold;
}
.amount .sum.income {
    color: var(--text-color-success);
}

.amount .walletNumber {
    margin-top: 6px;
    color: var(--text-color-secondary);
}
