.transaction {
    background: var(--background-color-secondary);
    padding: 20px;
    border-bottom: 1px solid var(--background-color-light);
    outline: none;
    cursor: pointer;
}

.transaction:focus-visible {
    outline: 1px solid;
}

.transaction .content {
    overflow: hidden;
    display: flex;
}

.icon {
    flex: none;
}

.headers {
    margin-left: 20px;
    padding-top: 5px;
    flex: 1;
    overflow: hidden;
}

.headers .direction {
    font-weight: bold;
}

.headers .secondary {
    color: var(--text-color-secondary);
    margin-top: 6px;
}

.amount {
    justify-content: end;
    text-align: right;
}

.amount .sum {
    font-weight: bold;
}
.amount .sum.income {
    color: var(--text-color-success);
}

.amount .walletNumber {
    margin-top: 6px;
    color: var(--text-color-secondary);
}
